@font-face {
    font-family: myKunstlerFont;
    src: url(KUNSTLER.TTF);
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */
body {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: myKunstlerFont;
    font-size: 70px;
    font-weight: 100;
    margin: 10px;
    text-shadow: 2px 2px 4px lightslategray;
}

h2 {
    color: #9b111e;
    font-family: myKunstlerFont;
    font-size: 55px;
}

p {
    font-size: 16px;
    text-align: justify;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

/* HEADER SECTION */
header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

#sticky-header {
    background-color: #9b111e;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Flag Icons */
.flags {
    position: absolute;
    right: 65px;
    top: 15px;
}

.flag-icon {
    color: #000;
    margin-left: 10px;
    text-decoration: none;
}

.flag {
    height: 22px;
    width: 22px;
}

/* Hamburger menu */
.menu-toggle {
    cursor: pointer;
    display: none;
}

.bar {
    background-color: #fff;
    height: 3px;
    margin: 3px 0;
    width: 25px;
}

.nav-dialog {
    display: flex;
    flex-direction: column;
}

/* Navigation Menu */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero img {
    height: auto;
    width: 100%;
}

.caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    bottom: 20px;
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 20px;
}

#home2 {
    height: 500px;
}

#home2 img {
    height: 100%;
}

/* STUDIO SECTION */
.about {
    background-color: #fff;
    padding: 40px 0;
    width: 100%;
}

.about h2 {
    margin-bottom: 20px;
    text-align: center;
}

.about-content {
    align-items: center;
    display: flex;
}

.studio-image img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.studio-details {
    padding: 20px;
}

/* ATTIVITA' SECTION */
.services {
    background-color: #9b111e;
    color: #fff;
    padding: 40px 0;
}

#services h2 {
    color: #fff;
    font-weight: 100;
    text-align: center;
    text-shadow: none;
}

.service {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.attivita-icon {
    margin-right: 10px;
    width: 32px;
}

.service h3 {
    flex: 1;
    font-size: 25px;
    margin: 0;
}

.service p {
    font-size: 16px;
    margin: 5px 0;
}

/* AVVOCATI SECTION */
#lawyers h2 {
    text-align: center;
}

.lawyers {
    padding: 40px 0;
}

.lawyers-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.lawyer-column {
    width: 48%;
}

.lawyer-list {
    list-style: none;
    padding: 0;
}

.lawyer-item {
    display: flex;
    margin: 40px;
}

.lawyer-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.lawyer-specialty {
    font-style: italic;
    margin-bottom: 10px;
}

.lawyer-contact {
    font-style: italic;
    font-size: 16px;
    margin-top: 5px;
}

/* CONTACTS SECTION */
.contact {
    padding: 40px 0;
}

/* Form style */
.form {
    padding-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}

button:hover {
    background-color: #555;
}

/* Contacts columns style */
.contacts {
    text-align: center;
}

.contacts-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

.column {
   /*  background-color: #f4f4f4; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex: 1;
    margin: 10px;
    padding: 20px;
}

.column p {
    text-align: center;
    font-weight: 600;
}

/* PRIVACY SECTION */
#privacy h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 30px;
}

.privacy-text {
    padding: 40px 0;
}

/* FOOTER SECTION */
footer {
    background-color: #9b111e;
    color: #fff;
    padding: 40px 0;
    width: 100%;
}

footer p {
    text-align: center;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {

    /* HEADER */
    #sticky-header {
        padding: 5px;
    }

    #sticky-header h1 {
        font-size: 50px;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
        margin: 20px;
    }

    .nav-dialog {
        background-color: #333;
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    nav {
        align-items: center;
        flex-direction: column;
        margin-top: 20%;
    }

    nav a {
        padding: 20px;
    }

    .nav-dialog.active {
        display: flex;
    }

    .flags {
        position: absolute;
        right: 25px;
        top: 12px;
    }

    .flag-icon {
        margin-left: 5px;
        text-decoration: none;
    }

    .flag {
        height: 18px;
        width: 18px;
    }

    .container {
        width: 100%;
    }

    /* LO STUDIO */
    .about-content {
        display: flex;
        flex-direction: column;
    }

    /* ATTIVITA' */
    .services {
        padding: 20px;
        text-align: justify;
    }

    .service {
        flex-direction: column;
    }

    .service h3 {
        margin-top: 5px;
    }

    /* AVVOCATI */
    .lawyers-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lawyer-column {
        width: 90%;
    }

    .lawyer-item {
        display: flex;
        flex-direction: column;
    }

    .lawyer-image img {
        height: 200px;
        width: 200px;
    }

    /* CONTACTS */
    .contact {
        padding-left: 30px;
        width: 80%;
    }

    .contacts-container {
        flex-direction: column;
        width: 80%;
    }

    .column {
        margin-left: 0;
        width: 100%;
    }
    /* PRIVACY */
    #privacy h2 {
        margin: 20px;
    }

    .privacy-text {
        margin: 20px;
        text-align: justify;
    }
    /* FOOTER */
    footer p {
        font-size: 14px;
    }
}